/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/
.composer/
composer.phar
.env
/nbproject/private/
nbproject/project.xml
/public/mix-manifest.json
/public/css/app.css
/public/js/app.js
docker-compose-hodi.yml
public/adminer.php
app/Components/Szamlazz/xmls/*
app/Components/Szamlazz/pdf/*

!app/Components/Szamlazz/xmls/.gitkeep
!app/Components/Szamlazz/pdf/.gitkeep
app/Components/Szamlazz/cookie_2babf2640f52e061e12732d76e206c374fcfcfc8.txt
cart-202108231302.sql
cart-202108231302.sql.gz
order-202108231126.sql
order-202108231126.sql.gz
product_to_cart-202108231304.sql
product_to_cart-202108231304.sql.gz
pricecalculate.log
public/products_list.xml
products_list.xml
.bash_history

book24_stock.xml
dibook_info.xml
